body{
	background: rgb(30,33,31);
	color: white;
	font-family: sans-serif;
}
.logo{
	font-size: 30px;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items:center;
}
.btn1{
	background: blue;
	padding: 15px;
	border-radius: 1.5em;
	color: white;
	border: none;
	margin-top: 10px;
	width: 120%;
}
.container{
	width: 50%;
	margin: auto;
	padding: 130px 0px;
	text-align: center;
}
table{
	text-align: center;
}
h1{
	font-size: 60px;
}
*{
	margin: 0;
}
p{
	font-size: 16px;
	font-weight: 1px;
}
.btn2{
	background: rgb(30,33,31);
	color: white;
	border: 1px solid white;
	border-radius: 1.5em;
	padding: 15px;
	width: 23%;
}
.btn3{
	background: rgb(30,33,31);
	color: white;
	border: 1px solid white;
	border-radius: 1.5em;
	padding: 15px;
	width: 28%;
}
.btn4{
	background: rgb(117, 74, 224);
	color: white;
	border: none;
	border-radius: 1.5em;
	padding: 15px;
	width: 31%;
}
table{
	background: white;
	color: black;
	padding: 10px;
	width: 109%;
	border-radius: 0.6em;
}

.btn5{
	background:rgba(223, 238, 247,0.4); 
	border-radius: 1.5em;
	color: blue;
	border: none;
	font-weight: bold;
	padding: 10px;
	width: 70px;
}
.change{
	color: red;
}
.change1{
	color: rgb(60,179,113);
}
th{
	color: grey;
	font-weight: normal;
}
.fa-ethereum{
	color: white;
	background: grey;
	width: 20px;
}
.fa-bitcoin{
	color: rgb(247, 237, 127);
}
.fa-t{
	color: green;
}
.fa-airbnb{
	color: rgb(247, 237, 127);
}